.tarefa {
  display: flex;
  gap: 5rem;
  border-bottom: 1px solid black;
  margin-top: 0.75rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 40vh;
  width: 39vw;
}

.card-tarefa::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 20px;
  height: 100%;
  background: linear-gradient(transparent 50%, #333 50%);
  background-size: 20px 20px;
  background-repeat: repeat-y;
  z-index: 1;
}

.btn-concluir{
  background-color: rgb(22, 155, 22);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  width: 100%;
  margin-bottom: 0.2rem;
  height: auto;
}

@media (max-width: 768px) {
  .tarefa {
    gap: 1rem;
    margin-top: 0.75rem;
    display: flex;
    justify-content: space-around;
  }

  ul {
    width: 70vw;
    height: auto;
    max-height: 30vh;
    font-size: 0.75rem;
  }

  .btn-concluir {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .card-tarefa {
    width: 80vw;
  }

  .container-btn{
    display: grid;
  }

  span{

      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

  }
}
