input {
  border: none;
  font-size: 1rem;
}

input:focus{
  outline: none;
}

.card-login {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 60vh;
  background-color: #ff4438;
  box-shadow: 0px 0px 20px 1px rgba(189, 189, 189, 1);
  border-radius: 5px;
  padding: 1rem;
  position: relative;
}

.card-login::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 20px;
  height: 100%;
  background: linear-gradient(transparent 50%, #333 50%);
  background-size: 20px 20px;
  background-repeat: repeat-y;
  z-index: 1;
}

.card-login-container {
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  display: grid;
  width: 30vw;
}

.campo {
  display: flex;
  border-bottom: 3px solid black;
  padding: 1rem;
}

.campo label {
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .card-login {
    width: 80vw;
    height: auto;
    padding: 1rem;
  }

  .card-login-container {
    width: 100%;
    margin-bottom: 2rem;
  }

  .campo {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid black;
  }

  .campo label {
    margin-bottom: 0.5rem;
  }

  .container-btn {
    flex-direction: column;
    gap: 10px;
  }

  button {
    width: 100%;
  }
}
